<footer >
    <div class="f-info">
        <div class="f-info-socials">
            <span class="material-symbols-outlined footer-icon  ">public</span>
            <span class="material-symbols-outlined footer-icon">groups</span>
            <span class="material-symbols-outlined footer-icon">support_agent</span>
        </div>
        <div>&copy;CasaVista private limited</div>
        <div class="f-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>