<% layout("/layouts/boilerplate") %>
<body>
    <div id="filters">
        <nav class="navbar navbar-expand-md bg-body-light filters-nav">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav filters-a">
                  <a class="nav-link" href="http://localhost:3000/listings/mansions/CV"><span class="material-symbols-outlined">home</span><br>Mansions</a>
                  <a class="nav-link" href="http://localhost:3000/listings/beach/CV"><span class="material-symbols-outlined">deck</span><br> Beach</a>
                  <a class="nav-link" href="http://localhost:3000/listings/boats/CV"><span class="material-symbols-outlined">sailing</span><br>Boats</a>
                  <a class="nav-link "href="http://localhost:3000/listings/mountains/CV"><span class="material-symbols-outlined">landscape_2</span><br>Mountains</a>
                  <a class="nav-link" href="http://localhost:3000/listings/forest/CV"><span class="material-symbols-outlined">forest</span><br>Forest</a>
                  <a class="nav-link" href="http://localhost:3000/listings/winters/CV"><span class="material-symbols-outlined">ac_unit</span><br>Winters</a>
                  <a class="nav-link" href="http://localhost:3000/listings/rainy/CV"><span class="material-symbols-outlined">rainy</span><br>Rainy</a>
                  <a class="nav-link "href="http://localhost:3000/listings/apartment/CV"><span class="material-symbols-outlined">apartment</span><br>Apartment</a>
                  <a class="nav-link" href="http://localhost:3000/listings/restaurant/CV"><span class="material-symbols-outlined"> restaurant</span><br> Restaurant</a>
                </div>
              </div>
            </div>
          </nav>
          <div class="toggle">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Show Taxes With Price</label>
            </div>
         </div>
    </div>
    <div class="box">
        <% for(user of data){ %>
            <a href="http://localhost:3000/listings/<%= user.id %>">
                <div class="card  ">
                    <img src="<%= user.image.path %>" class="card-img-top" alt="wait for sec">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                    <p class="card-text">
                    <b><%= user.title %></b> <br>
                        &#8377; <%= user.price.toLocaleString("en-IN") %>/night
                        <i class="tax-info">&nbsp;+18%GST</i>
                    </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
    <script>
      let toggle =document.getElementById("flexSwitchCheckDefault");
      toggle.addEventListener("click",()=>{
        let taxInfo = document.getElementsByClassName("tax-info");
        console.log(taxInfo);
        for(info of taxInfo){
          if(info.style.display !="inline"){
            info.style.display = "inline";
          }else{
            info.style.display = "none";
          }
        }
      })
    </script>
</body>
